.Container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputContainer h1{
    font-family: 'Playfair Display',serif;
    font-size: 3.5rem;
}
.inputContainer h1 span{
  color:var(--primary-color);
}
.inputContainer div{
  display: flex;
  margin-top: 2rem;
}
.inputContainer input{
  width: 100%;
  text-indent: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  outline: none;
  padding: 0.5rem 0.2rem 0.5rem 0;
  font-size: 1.2rem;
  outline: none;
  background: rgb(227, 218, 226);
}
.inputContainer input::placeholder {
  font-size: 0.5rem;
}
.inputContainer button{
  border: none;
  outline: none;
  background: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  height:3rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}